* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(180deg, #1dd1f5, #ffed63);
}

.text {
    width: 30vw;
    color: white;
}

::selection {
    color: #f5a00c;
    background: #f5425a;
}

.eventhandler {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    margin: 30px;
}

.eventhandler input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: #5f6ade;
    border-style: dashed;
}

.input {
    cursor: auto;
}

.button {
    cursor: pointer;
    background-color:white;
}

input:focus {
    outline:none;
}
