* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex-wrap:wrap; */
}

.text {}

.eventhandler {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    margin: 30px;
}

.eventhandler input, .eventhandler button {
    padding: 10px;
    margin: 10px;
}

.input {
    cursor: auto;
}

button {
    cursor: pointer;
}
